name: CI

on:
  # Run on pushes to `main` and on all pull requests.
  push:
    branches:
      - main
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  QA:
    uses: ./.github/workflows/reusable-qa-checks.yml
